.example {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 20px;

  border-width: 12px;
  border-style: ridge;
  border-color: red;

  border: 10px solid red;

  border-bottom-width: 20px;
  border-left-color: blue;
}

.example {
  outline: 10px solid cyan;
}

button:focus,
input:focus {
  outline: 2px solid aqua;
}

.shadow {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 20px;

  box-shadow: inset 1px 2px 5px blue;
}

h1 {
  text-shadow: 1px 2px 5px red;
}
