body {
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  /* background-image: repeating-linear-gradient(
    to top right,
    yellow 30px,
    black 30px,
    black 60px,
    yellow 60px,
    yellow 80px,
    black 80px
  ); */
  background: repeating-radial-gradient(
    circle farthest-side,
    aqua 40%,
    black 60%
  );
}
