.example {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 20px;

  border-radius: 50px 40px 30px 20px;
  /*border-radius: 20px/40px;    - так делается эллипс, первое зн. по гор.
  , второе по вертикали*/
}

ul li {
  list-style-type: disc;
  list-style-position: outside;
  /*list-style-image:;*/
}

h1 {
  color: rgba(255, 0, 200, 0.322);
}
