body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  transition: all 1s ease;
  transform-origin: 50px 30px;
}

img:hover {
  transform: rotate(90deg);
  /* transform: scale(1.2, 1.2); */
  /* transform: scaleX(2);
  transform: scaleY(1.5); */
  /* transform: translate(50px, 40px); */
  /* transform: skew(10deg, 10deg) scale(1.3) translate(30px, 20px); */
}

.wrapper {
  border: 4px solid black;
  height: 320px;
  /* overflow: hidden; */
}
